$com-base-height: 1vh;
$com-base-width: 1vw;

$com-base-block-size: 8vh;

$com-header-height: $com-base-block-size;

$com-nav-color: rgb(255,255,255);
$com-nav-shadow: 0px 2px 5px rgba(0,0,0,0.5);

$com-slider-scale: 700 / 1280;

$com-user-scale: 400 / 1280;

$com-footer-height: $com-base-block-size;

$com-downloads-content-height:  100vh - 3 * $com-base-block-size;

$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);
