section#slider.com-slider.carousel.slide(data-ride='carousel' data-pause='hover')
	// Indicators
	ol.carousel-indicators.text-right
		li(data-target='#slider', data-slide-to=0)
		li(data-target='#slider', data-slide-to=1)
		li(data-target='#slider', data-slide-to=2)
		li(data-target='#slider', data-slide-to=3)
		li(data-target='#slider', data-slide-to=4, style='display:none;')
		li(data-target='#slider', data-slide-to=5)
		li(data-target='#slider', data-slide-to=5, style='display:none;')
	// Wrapper for slides
	.carousel-inner
		.item.active.com-slider-cover
			a(href='#')
				img(src="/images/banner/banner1.jpg", width='100%', alt='元子育儿', data-at2x='/images/banner/banner1@2x.jpg')
		.item.com-slider-cover
			a(href='#')
				img(src="/images/banner/banner2.jpg", width='100%', alt='元子育儿', data-at2x='/images/banner/banner2@2x.jpg')
		.item.com-slider-cover
			a(href='http://iyuanzi.tipjoy.cn/IYUANZI_CEMWechat/Activity/ActivityDetail?id=108')
				img(src="/images/banner/banner3.jpg", width='100%', alt='元子育儿', data-at2x='/images/banner/banner3@2x.jpg')
		.item.com-slider-cover
			a(href='http://v.youku.com/v_show/id_XMTMwNzYzNTg1Mg==.html')
				img(src="/images/banner/banner4.jpg", width='100%', alt='元子育儿', data-at2x='/images/banner/banner4@2x.jpg')
		.item.com-slider-cover
			a(href='http://e-policy.minanins.com/prod/qyjy_1166002.html')
				img(src="/images/banner/banner5.jpg", width='100%', alt='元子育儿', data-at2x='/images/banner/banner5@2x.jpg')
		.item.com-slider-cover
			a(href='http://e-policy.minanins.com/prod/qyjy_1180002.html')
				img(src="/images/banner/banner6.jpg", width='100%', alt='元子育儿', data-at2x='/images/banner/banner6@2x.jpg')
		.item.com-slider-cover
			a(href='http://e-policy.minanins.com/prod/qyjy_1198001.html')
				img(src="/images/banner/banner7.jpg", width='100%', alt='元子育儿', data-at2x='/images/banner/banner7@2x.jpg')
											
