header.com-header
	.navbar.navbar-default.navbar-fixed-top(role='banner')
		.container.com-nav-container.com-base-padding
			a.navbar-brand(href='/' title='元子')
				
			.com-downloads-btn.pull-right
				a.btn.btn-yuanzi.navbar-btn(href='/downloads') 下载App

