extends ../layout/layout
block content
	section.com-about
		.com-about-content
			h1
				| ABOUT US
			p
				| 亲爱的用户：
			p
				| 感谢您下载和使用元子育儿APP。
			p
				| 比起喂养和护理，1~6岁的宝宝更需要父母爱和心灵的滋养，这对父母飞要求越来越高。元子育儿是国内唯一为1~6岁的宝宝家庭打造的父母成长型社区，无论社区内专家的知识分享，达人父母的实用经验和资讯，还是丰富多彩的线上线下活动，都致力于帮助父母全方面构筑最适合自己和宝贝的亲子生活方式。
			p
				| 想参加精彩的线下亲子活动，或申请成为元子育儿的达人，自己发起活动，请关注官方微信号“元子育儿”-发现-约玩邦频道。
			p
				| 再次感谢您对元子育儿的支持与耐心陪伴，产品目前还在不断改进中，我们将努力通过一次次迭代为您送上日臻完善的产品！此次更新的3.2版本新增功能有：
			p
				ul
					li
						| 用户可自行发起话题
					li
						| 用户可邀请心仪的达人来回复话题
					li
						| 实现用户深度互动
					li
						| 相关话题推荐
					li
						| 改变呈现方式，用户体验度更佳
			p 	
				|官方微信：元子育儿、千鱼元子 
				br
				|官方微博：元子育儿
				br
				span(style='line-height:1.5;')
					| 官网：
					a(href='http://www.iyuanzi.com', target='_blank') www.iyuanzi.com
				br
			p
				| 合作请发送邮件到：marketing@iyuanzi.com
