extends ../layout/layout
block content
	.com-pages-downloads
		.com-downloads-img
			img(src="/images/downloads.png", width='100%', data-no-retina)
		.com-downloads-content
			a.com-qr-code.com-downloads-content-border
			| &nbsp;&nbsp;
			.com-downloads-btn
				a.btn.btn-default(href='http://www.iyuanzi.com/iyuanzi.apk')
					i.fa.fa-android.fw
					| Android  下载
				br
				br
				a.btn.btn-default(href='https://itunes.apple.com/cn/app/yuan-zi/id896513476?l=zh&ls=1&mt=8')
					i.fa.fa-apple.fw
					| iPhone    下载
	
