html, body {
  height: 100%;
  min-width: 300px;
}
body {
  background-color: $com-base-color;
  color: $com-base-font-color;
}
.com-base-padding {
  padding-left: 13.8 * $com-base-width;
  padding-right: 13.8 * $com-base-width;
  @include media('>bigger'){
	padding: 0;
  }

}

.com-content-container {
  padding-bottom: $com-footer-height;
  padding-top: $com-header-height;
  min-height: 100%;
  height: auto !important;
  height: 100%;

  margin: 0 auto (0-$com-footer-height);
}

.carousel-indicators {
  @include media('<=tablet'){
	bottom: -10px;
	
  }
  li {

	margin-left: 10px;
	margin-right: 10px;
	width: 9pt;
	height: 9pt;
	background-color: #575756;
	border: 0;
  }
  .active {
	margin-left: 10px;
	margin-right: 10px;
	width: 9pt;
	height: 9pt;
	background-color: $com-yuanzi-color;
  }
}
a {
  
  color: $com-yuanzi-color;
  text-decoration: none;
}
.btn-yuanzi {
  color: #fff;
  background-color: $com-yuanzi-color;
  border-color: $com-yuanzi-color;
}
.form-horizontal .control-label {
  text-align: left;
}
