.com-about {
  @include media('<=desktop'){
	padding: 0;
  }
  padding-left: 13.8 * $com-base-width;
  padding-right: 13.8 * $com-base-width;
  .com-about-content {
	padding-top: 13.8 / 3 * $com-base-width;
	padding-bottom: 13.8 / 3 * $com-base-width;
	padding-left: 13.8 * $com-base-width;
	padding-right: 13.8 * $com-base-width;
	background-color: white;
	
	p {
	  margin-top: 2em;
	}
	h1 {
	  color: red;
	  text-shadow: 2px 0 #888888;
	  letter-spacing:2px;
	  font-weight: 900;
	}
	ul {
	  list-style: none;
	  padding-left: 0px;
	  padding-bottom: 1em;
	  padding-top: 1em;
	  li {
		line-height: 1em;
		&:before {
		  content: "•";
		  font-size: 2em; /* or whatever */
		  color: red;
		  padding-right: 5px;
		}
	  }
	}
  }
  
}
