.com-pages-card {
  .com-pages-conten {
	padding-top: 4em;
	
	background-color: white;
	.com-card-content {
	  padding-left: 2em;
	  padding-right: 2em;
	  padding-bottom: 4em;

	  img.com-user-avatar {
		width: 4em;
	  }
	  .com-card-user {
		.com-user-nickname {
		  padding-left: 10px;
		}
	  }


	}
	.com-cards {
	  padding: 0;
	  .cards {
		margin-top: 20px;
		padding: 0;
		padding-left: 2em;
		padding-right: 2em;
	  }
	}
  }
  #com-card-html {
	img {
	  max-width: 100%;
	  max-height: 50vh;
	}
  }
  .com-news-hr {
	margin-top: 10px;
	margin-bottom: 10px;
  }
  
}
