.com-pages-downloads {
  width: 100%;
  
  @include media('landscape') {
	position: relative;
	
	.com-downloads-content {
	  float: right;
	  position: absolute;
	  z-index: 10;

	}
	.com-apply-content {
	  float: right;
	  position: absolute;
	  z-index: 10;

	}
  }
  
  
  .com-downloads-img {
	float: left;
	width: 100%;
	img {
	  object-fit: cover;
	  width: 100%;
	  height: $com-downloads-content-height;
	}
  }
  .com-downloads-content {

	padding-top: $com-downloads-content-height / 3;
	padding-bottom: $com-downloads-content-height / 3;
	right: 10%;
	
	.com-downloads-btn {
	  float: left;
	  padding-top: 10%;	
	}
	.com-qr-code {
	  float: right;
	  display: block;
	  width: 128px;
	  height: 128px;
	  background: url('/images/qrcode-new.png') no-repeat;
	  background-size: cover;
	}
  }
  .com-apply-content {
	background-color: white;
	box-shadow: $com-nav-shadow;
	max-width: 400px;
	height: 50vh;
	margin-top: 10px;
	padding-top: 10px;
	overflow: auto;
	right: 10%;
	font-size: 10px;
	.com-downloads-btn {
	  float: left;
	  padding-top: 10%;
	}
	.com-qr-code {
	  float: right;
	  display: block;
	  width: 128px;
	  height: 128px;
	  background: url('/images/qrcode.png') no-repeat;
	}
  }
}

