footer.container.com-footer-container
	.row.footer-top.com-footer-top
		ul.list-inline.text-center
			li 友情链接
			li
				a(href='www.fumu.com') 父母网
			li
				a(href='http://www.swampsoccerchina.com/') 泥浆足球	
			li |
			li 官方微博
			li
				a(href='http://weibo.com/u/5108947102?topnav=1&wvr=6&topsug=1', target='_blank') 元子育儿
			li |
			li 服务文档
			li
				a(href='/about', target='_blank') 关于元子

	.row.footer-bottom.com-footer-bottom
		.text-center
			| 北京千鱼教育科技服务有限公司
				

