.com-cards {
  @include media('>=desktop'){
	height: 100%;
	
  }
  padding-left: 13.8 * $com-base-width;
  padding-right: 13.8 * $com-base-width;
  @include media('>bigger'){
	padding: 0;
  }
  
  .com-hottext {
	margin-top: 4em;
	margin-bottom: 2em;
  }
  .cards {
	.thumbnail {
	  max-width: 310px;
	  .caption {
		margin-bottom: auto;
		.com-card-title {

		  color: rgb(69, 69, 69);
		  line-height:1.14em;
		  font-size: 1.14em;
		  height:2.28em;
		  
		  @include multiline-ellipsis(2);
		}
		.card-description {
		  color: rgb(130,130,130);
		  line-height:2em;
		  height:8em;
		  @include multiline-ellipsis(4);

		}
		.com-user-avatar {
		  width: 2em;
		}
		.com-user-nickname {
		  padding-left: 10px;
		}
	  }
	}
  }
  
  .com-card-more {
	margin-bottom: 4em;

  }
}
.com-pages-cards {
  margin-top: 4em;

}
