.com-footer-container {
	width: 100%;
  .com-footer-top {
	ul {
	  font-size: $com-footer-font-size;
	  line-height: $com-footer-font-size;
	}
	height: $com-footer-height * 2/ 3;
	padding-top: $com-footer-top-padding;
  }
  .com-footer-bottom {
	height: $com-footer-height * 1/ 3;
	line-height: $com-footer-height * 1/ 3;
	background-color: $com-footer-bottom-color;
	color: #ffffff;
  }
}
