
  .com-header {
	width: 100%;
	.navbar {
	  min-height: $com-header-height;
	  background-color: $com-nav-color;
	  box-shadow: $com-nav-shadow;
		.navbar-brand {
		  background-image: url('/images/logo.png');
		  background-repeat: no-repeat;
		  background-position: 0 7px;
		  background-size: 145px 36px;
		  width: 145px;
		  padding: 0;
		  line-height: 1;
		  margin-left: 0;
		}
	  .com-downloads-btn {
		float: right;
	  }
	}
  }
