.com-news {
  padding-left: 13.8 * $com-base-width;
  padding-right: 13.8 * $com-base-width;
  margin-top: 50px;
  @include media('>bigger'){
	padding: 0;
  }
  .com-newstext {
	margin-top: 2em;
	margin-bottom: 1.5em;
  }
  .news {
	  
	.thumbnail {
	  img {
		width: 100%;
	  }
	  .caption {
		margin-bottom: auto;
		.com-news-title {
		  color: rgb(130, 130, 130);
		  line-height: 1.14em;
		  font-size: 1.14em;
		  height: 2.28em;
		  @include multiline-ellipsis(2);
		}
	  }
	}
  }
  .row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
  }
}
