.com-user {
  
  .com-user-cover {
	background-color: $com-base-color;

	width: 100 * $com-base-width;
	height: 100 * $com-user-scale * $com-base-width;
	img {
	  width: 100%;
	}
  }
  .com-user-text {
	padding: 1.5em 10%;
	font-size: 1.14em;
	color: rgb(141, 141, 141);
	line-height: 1.38em;
  }
  
  margin-top: 4em;
  margin-bottom: 2em;
}
